html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html, body {
  height: 100%;

}

.fl {
  float: left;
}

.fr {
  float: right;
}

.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

.ofh {
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.positionFixed{
  position: fixed;
}

.m_auto {
  margin: auto;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d_box {
  display: flex;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
}

.d_boxflex {
  flex: 1;
  display: block;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}




/*公共样式添加*/
/*reset*/
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img,
input,
textarea,
a,
button {
  border: none;
  outline: none;
  background: none;
}
i {
  font-style: normal;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
}


/*清浮动*/
.clearfix:after {
  content: '200B';
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  *zoom: 1;
}
.clear {
  clear: both;
}

/*ul内部的li添加浮动*/
.ulfl li {
  float: left;
}

/*粗体*/
.fontB {
  font-weight: bold;
}

/*鼠标变成手型*/
.cursor{
  cursor: pointer;
}

.border{
  border: #d9e6f3 dotted 1px;
}
